@inherits LayoutComponentBase

<div class="top-bar">
    <div class="logo">Blazing Pizza</div>
</div>

<div class="content">
    @Body
</div>

<footer class="app-footer">
    <p>&copy; @DateTime.Now.Year Kamohelo Godfrey Mejaele — South Africa</p>
</footer>